# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython build artifacts
*.c
*.cpp
*.so
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually contains files for bundled app
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/

# Profiling
*.prof
*.pstats
cachegrind.out.*

# Logs and dumps
*.log
*.out
*.err

# Editor/IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# VS Code extensions
.history/

# macOS
.DS_Store

# Linux
*~

# Swap files
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Spyder project settings
.spyderproject
.spyproject

# PyCharm
*.iml
*.ipr
*.iws

# SQLite and temporary databases
*.sqlite3
*.db
*.db-journal


# Output and temp data
project_src_package_2025/data_output
!project_src_package/data_output/
!project_src_package/data_output/**/
!project_src_package/data_output/**/.gitkeep



# IPython
profile_default/
ipython_config.py

project_src_package_2025/saved_queue_jobs.json
project_src_package_2025/gui_components/saved_state.json

/build
/dist
/Biophysics_app_1.0.egg-info
/setup.py

/Makefile
/MANIFEST.in
